<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ucsc.codevo.controller.AnalyzingHandler"
            id="Codevo.analyze"
            name="Analyze">
      </command>
      <command
            defaultHandler="edu.ucsc.codevo.controller.LayoutHandler"
            id="Codevo.layout"
            name="Layout">
         <commandParameter
               id="Codevo.layoutAlgorithm"
               name="algorithm"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="codevo"
               label="Codevo">
            <command
                  commandId="Codevo.analyze"
                  label="Analyze"
                  style="push">
            </command>
            <menu
                  label="Layout">
               <command
                     commandId="Codevo.layout"
                     label="Spring"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="spring">
                  </parameter>
               </command>
               <command
                     commandId="Codevo.layout"
                     label="Tree"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="tree">
                  </parameter>
               </command>
               <command
                     commandId="Codevo.layout"
                     label="Grid"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="grid">
                  </parameter>
               </command>
               <command
                     commandId="Codevo.layout"
                     label="Horizontal Shift"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="horizontal shift">
                  </parameter>
               </command>
               <command
                     commandId="Codevo.layout"
                     label="Radial"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="radial">
                  </parameter>
               </command>
               <command
                     commandId="Codevo.layout"
                     label="Directed Graph"
                     style="push">
                  <parameter
                        name="Codevo.layoutAlgorithm"
                        value="directed graph">
                  </parameter>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Codevo.defaultCategory"
            name="Codevo">
      </category>
      <view
            category="Codevo.defaultCategory"
            class="edu.ucsc.codevo.view.DependencyView"
            id="Codevo.dependencyView"
            name="Dependency View"
            restorable="true">
      </view>
   </extension>

</plugin>
